#score {
    color: #fff;
}

#board {
    background-color: #AACC99;
}

#snake {
    background-color: black;
}

.body {
    background-color: #000;
    border: 1px solid #AACC99;
}

div[class|='food'] {
    background-color: black;
    border-radius: 50%;
}